.log-box {
	overflow: auto;
	height: 400px;
	background-color: black;
	border-color: black;
	color: white;
	text-align: left;
}

.status-window {
	text-align: left;
	background-color: black;
	border-color: black;
	color: white;
	margin-bottom: 10px;
}

.inventory-window {
	height: 200px;
	text-align: center;
	background-color: black;
	border-color: black;
	color: white;
	margin-top: 10px;
}

.inventory-title {
	border-bottom: 1px solid;
	border-color: white;
}

.Wizard {
	color: orange;
}

.Player {
	color: teal;
}

.Narrator {
	color: white;
}

.confirm {
	color: green;
}

.deny {
	color: red;
}

.Elf {
	color: green;
}

.Human {
	color: teal;
}

.Dwarf {
	color: gold;
}

.Sword, .Bow, .Staff {
	color: teal;
}