.log-box {
	overflow: auto;
	height: 400px;
	background-color: black;
	border-color: black;
	color: white;
	text-align: left;
}

.status-window {
	text-align: left;
	background-color: black;
	border-color: black;
	color: white;
	margin-bottom: 10px;
}

.inventory-window {
	height: 200px;
	text-align: center;
	background-color: black;
	border-color: black;
	color: white;
	margin-top: 10px;
}

.map {
	height: 200px;
	width: 200px;
	font-family: monospace;
	line-height: 8px;
	letter-spacing: 1px;
	font-size: 25px;
	background-color: black;
	border-color: black;
}

.inventory-title {
	border-bottom: 1px solid;
	border-color: white;
}

.help-grid {
	text-align: left;
	background-color: black;
	border-color: black;
	color: white;
	margin-bottom: 10px;
}

.help-head {
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid;
	border-color: white;
}

.help-command {
	text-align: center;
}

.command-style {
	color: #ae81dd;
}

.help-row {
	border-bottom: 1px solid;
	border-color: white;
	margin-top: 5px;
}

.Wizard {
	color: orange;
}

.Player {
	color: teal;
}

.Narrator {
	color: white;
}

.confirm {
	color: green;
}

.deny {
	color: red;
}

.Elf {
	color: green;
}

.Human {
	color: teal;
}

.Dwarf {
	color: gold;
}

.Sword, .Bow, .Staff {
	color: teal;
}

.Demon {
	color: red;
}

/*
* Map stuff
*/

.grass {
	color: green;
}

.cliff {
	color: gray;
}